html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

@font-face {
    font-family: 'Monocraft';
    src: url('/fonts/Monocraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p{
    font-family: Monocraft
}

.ip-select, .ip-input {
    color: white;
    border: 1px solid #333;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 38px;
    display: flex;
    align-items: center;
}

.refresh-btn {
    background-color: #947EB0;
    border-color: #333;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 38px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


